.list {
  list-style: none;
}

/*div {
  background: linear-gradient(
    256.51deg,
    rgba(111, 102, 102, 0.9) 26.96%,
    rgba(16, 15, 15, 0.9) 79.08%,
    rgba(16, 15, 15, 0.9) 79.08%
  );
}*/

/*Разновидность соусов*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.sauce-list {
  color: #f3f3f3;
}

.sauce-item-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.22;
}

.sauce-item-text {
  font-size: 16px;
  line-height: 1.25;
}

.sauce-item-btn {
  font-family: inherit;
  font-size: 20px;
  line-height: 1.2;
  color: #f3f3f3;
  background: rgba(188, 26, 26, 0.2);
}

/*Рецепты*/

.recipes-item-text {
  font-size: 32px;
  line-height: 1.22;
  color: #f3f3f3;
}
