:root {
  --bcg-color: #000000;
  --link-text-family: "Inter";
  --text-color-pramary: #f3f3f3;
  --secondary-text-color: #979797;
  --link-hover-color: rgba(188, 26, 26, 0.5);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bcg-color);
  color: var(--text-color-pramary);
}


/* header 










*/

/* Hero














*/

/* Sause












*/

/* Recipes of pasta 
















*/

/* The process of growing tomatoes 












*/

/* Footer */

.footer {

  padding-top: 24px;
  padding-bottom: 60px;
  background-color: var(--bcg-color);

  border-top: 1px solid var(--text-color-pramary);
}

.container {
  width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 24px;
  padding-bottom: 60px;
  margin: auto;
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

.text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.img {
  margin-right: 16px;
}

.logo {
  display: flex;
  align-items: center;
  

  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.logo-accent {
  padding-left: 16px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: var(--text-color-pramary);
}

.footer-link {
  font-family: var(--link-text-family), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color-pramary);

  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus{
  color: var(--link-hover-color);
}



.footer-list.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  
  padding: 0px;
  gap: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  gap: 13px;

  list-style: none;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

.footer-list.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  
}

.footer-list.adress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

}

.footer-list.networks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.footer-item {
  margin: 0px;
  padding: 0px;
}

.footer-item:not(:last-child){
  margin-bottom: 16px;
}

.social-link:hover,
.social-link:focus{
 fill: var(--link-hover-color);
}



.secondary-link {
  color: var(--text-color-pramary);

  font-family: "Roboto";

  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;

  text-decoration-line: underline;

  margin: 0px;
  padding: 0px;
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;

  color: var(--secondary-text-color);

  margin: 0px;
}

.footer-acent {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;

  text-decoration-line: underline;

  color: var(--text-color-pramary);
}

.icon:hover,
.icon:focus{
  fill:var(--link-hover-color) ;
  
}

.icon{
  fill: #f3f3f3;
}

.icon-addres{
  display:block;
}